doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://bootswatch.com/4/lumen/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
  ul.nav.navbar-nav
    li
      a(href='/') Home
    li
      a(href='/users/register') Register  
    li
      a(href='/users/login') login  
    li
      a(href='/users/logout') logout  
      